In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("nse_2017_2020_filtered.csv")

/tmp/ipython-input-23-647098593.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("nse_2017_2020_filtered.csv")

In [ ]:
print("üßæ Columns:", df.columns)
df.shape
print("üìÑ First 5 rows:")
print(df.head())

# Check basic info
print("\nüìä Dataset Info:")
print(df.info())

# Summary statistics
print("\nüìà Summary Statistics:")
print(df.describe())

# Check column names
print("\nüìå Column Names:")
print(df.columns.tolist())

# Check for missing values
print("\n‚ùì Missing Values:")
print(df.isnull().sum())

üßæ Columns: Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')
üìÑ First 5 rows:
         Date    Symbol Series  Prev Close     Open     High      Low  \
0  2017-01-02  HDFCBANK     EQ      1206.2  1209.45  1210.10  1192.05
1  2017-01-03  HDFCBANK     EQ      1197.1  1200.80  1201.95  1185.75
2  2017-01-04  HDFCBANK     EQ      1189.9  1189.85  1192.00  1183.80
3  2017-01-05  HDFCBANK     EQ      1185.5  1189.00  1194.50  1183.10
4  2017-01-06  HDFCBANK     EQ      1186.2  1190.10  1198.40  1188.20

      Last    Close     VWAP     Volume      Turnover   Trades  \
0  1198.05  1197.10  1198.08   927164.0  1.110816e+14  36225.0
1  1190.00  1189.90  1192.50   961875.0  1.147035e+14  21734.0
2  1188.80  1185.50  1187.86  1741780.0  2.068990e+14  28925.0
3  1185.00  1186.20  1186.93  1694096.0  2.010774e+14  35946.0
4  1194.50  1193.65  1192.99  1381315.0  1.647897e+14  31658.0

   Deliverable Volume  %Deliverble
0            531525.0       0.5733
1            574034.0       0.5968
2           1227791.0       0.7049
3           1138929.0       0.6723
4            878454.0       0.6360

üìä Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403338 entries, 0 to 1403337
Data columns (total 15 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Date                1403338 non-null  object
 1   Symbol              1352218 non-null  object
 2   Series              1352218 non-null  object
 3   Prev Close          1352218 non-null  float64
 4   Open                1401747 non-null  float64
 5   High                1401747 non-null  float64
 6   Low                 1401747 non-null  float64
 7   Last                1352218 non-null  float64
 8   Close               1403338 non-null  float64
 9   VWAP                1352218 non-null  float64
 10  Volume              1387305 non-null  float64
 11  Turnover            1387305 non-null  float64
 12  Trades              1352218 non-null  float64
 13  Deliverable Volume  1352203 non-null  float64
 14  %Deliverble         1352203 non-null  float64
dtypes: float64(12), object(3)
memory usage: 160.6+ MB
None

üìà Summary Statistics:
         Prev Close          Open          High           Low          Last  \
count  1.352218e+06  1.401747e+06  1.401747e+06  1.401747e+06  1.352218e+06
mean   5.574742e+02  7.985780e+02  8.091578e+02  7.870010e+02  5.575592e+02
std    2.391357e+03  2.965470e+03  2.995235e+03  2.931352e+03  2.391882e+03
min    5.000000e-02  5.000000e-02  1.000000e-01  5.000000e-02  5.000000e-02
25%    4.120000e+01  4.340000e+01  4.455000e+01  4.210000e+01  4.120000e+01
50%    1.429000e+02  1.550000e+02  1.587500e+02  1.514000e+02  1.429500e+02
75%    4.311500e+02  4.893000e+02  4.988000e+02  4.799500e+02  4.310000e+02
max    8.086045e+04  8.116000e+04  8.142595e+04  7.972000e+04  8.059900e+04

              Close          VWAP        Volume      Turnover        Trades  \
count  1.403338e+06  1.352218e+06  1.387305e+06  1.387305e+06  1.352218e+06
mean   8.072817e+02  5.583641e+02  8.326361e+06  2.557536e+13  8.848279e+03
std    2.976600e+03  2.393958e+03  7.754026e+07  1.335219e+14  2.915041e+04
min    5.000000e-02  5.000000e-02  1.000000e+00  4.000000e+04  1.000000e+00
25%    4.325000e+01  4.134000e+01  1.217300e+04  1.021148e+11  2.350000e+02
50%    1.549500e+02  1.432600e+02  6.489000e+04  7.746867e+11  1.044000e+03
75%    4.900500e+02  4.322000e+02  4.442760e+05  5.854284e+12  5.049000e+03
max    8.086045e+04  8.042680e+04  5.404237e+09  3.564334e+16  1.788274e+06

       Deliverable Volume   %Deliverble
count        1.352203e+06  1.352203e+06
mean         4.192549e+05  5.798814e-01
std          3.130169e+06  2.117478e-01
min          0.000000e+00  0.000000e+00
25%          7.297000e+03  4.364000e-01
50%          3.348600e+04  5.883000e-01
75%          1.711920e+05  7.278000e-01
max          7.870864e+08  1.000000e+00

üìå Column Names:
['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last', 'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume', '%Deliverble']

‚ùì Missing Values:
Date                      0
Symbol                51120
Series                51120
Prev Close            51120
Open                   1591
High                   1591
Low                    1591
Last                  51120
Close                     0
VWAP                  51120
Volume                16033
Turnover              16033
Trades                51120
Deliverable Volume    51135
%Deliverble           51135
dtype: int64

In [ ]:
df = df.dropna(subset=['Symbol', 'Date'])

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [ ]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df = df.dropna(subset=['date'])

In [ ]:
df = df.sort_values('date')

In [ ]:
df = df.drop_duplicates()

In [ ]:
numeric_cols = ['open', 'high', 'low', 'close', 'volume', 'deliverable_volume']
for col in numeric_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
        df[col] = df[col].fillna(method='ffill')
        df[col] = df[col].fillna(method='bfill')

/tmp/ipython-input-13-508186644.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[col] = df[col].fillna(method='ffill')
/tmp/ipython-input-13-508186644.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[col] = df[col].fillna(method='bfill')

In [ ]:
if 'close' in df.columns and 'open' in df.columns:
    df['daily_return'] = (df['close'] - df['open']) / df['open']

In [ ]:
df.to_csv("nse_2017_2020_preprocessed.csv", index=False)
print("‚úÖ Preprocessing complete. Saved as: nse_2017_2020_preprocessed.csv")

print(df.head())

‚úÖ Preprocessing complete. Saved as: nse_2017_2020_preprocessed.csv
            date      symbol series  prev_close     open     high      low  \
0     2017-01-02    HDFCBANK     EQ     1206.20  1209.45  1210.10  1192.05
36529 2017-01-02   CMICABLES     EQ      135.90   134.00   147.00   132.10
1822  2017-01-02      ARVIND     EQ      352.95   356.80   357.95   350.45
37936 2017-01-02  JINDALSTEL     EQ       69.20    69.80    70.80    68.85
38927 2017-01-02    ALPHAGEO     EQ      900.60   920.00   925.00   905.05

          last    close     vwap     volume      turnover   trades  \
0      1198.05  1197.10  1198.08   927164.0  1.110816e+14  36225.0
36529   145.50   144.20   139.48    95511.0  1.332213e+12   1492.0
1822    352.15   352.15   353.21  1735144.0  6.128756e+13  26998.0
37936    70.25    70.35    69.96  4895204.0  3.424881e+13  14115.0
38927   921.00   921.40   918.70    12230.0  1.123569e+12    799.0

       deliverable_volume  %deliverble  daily_return
0                531525.0       0.5733     -0.010211
36529             14557.0       0.1524      0.076119
1822             391231.0       0.2255     -0.013033
37936           1134811.0       0.2318      0.007880
38927              6757.0       0.5525      0.001522

In [ ]:
df= pd.read_csv("nse_2017_2020_preprocessed.csv")

In [ ]:

print("üìÑ First 5 rows:")
print(df.head())

# Check basic info
print("\nüìä Dataset Info:")
print(df.info())

# Summary statistics
print("\nüìà Summary Statistics:")
print(df.describe())

# Check column names
print("\nüìå Column Names:")
print(df.columns.tolist())

# Check for missing values
print("\n‚ùì Missing Values:")
print(df.isnull().sum())

üìÑ First 5 rows:
         date      symbol series  prev_close     open     high      low  \
0  2017-01-02    HDFCBANK     EQ     1206.20  1209.45  1210.10  1192.05
1  2017-01-02   CMICABLES     EQ      135.90   134.00   147.00   132.10
2  2017-01-02      ARVIND     EQ      352.95   356.80   357.95   350.45
3  2017-01-02  JINDALSTEL     EQ       69.20    69.80    70.80    68.85
4  2017-01-02    ALPHAGEO     EQ      900.60   920.00   925.00   905.05

      last    close     vwap     volume      turnover   trades  \
0  1198.05  1197.10  1198.08   927164.0  1.110816e+14  36225.0
1   145.50   144.20   139.48    95511.0  1.332213e+12   1492.0
2   352.15   352.15   353.21  1735144.0  6.128756e+13  26998.0
3    70.25    70.35    69.96  4895204.0  3.424881e+13  14115.0
4   921.00   921.40   918.70    12230.0  1.123569e+12    799.0

   deliverable_volume  %deliverble  daily_return
0            531525.0       0.5733     -0.010211
1             14557.0       0.1524      0.076119
2            391231.0       0.2255     -0.013033
3           1134811.0       0.2318      0.007880
4              6757.0       0.5525      0.001522

üìä Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64770 entries, 0 to 64769
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                64770 non-null  object
 1   symbol              64770 non-null  object
 2   series              64770 non-null  object
 3   prev_close          64770 non-null  float64
 4   open                64770 non-null  float64
 5   high                64770 non-null  float64
 6   low                 64770 non-null  float64
 7   last                64770 non-null  float64
 8   close               64770 non-null  float64
 9   vwap                64769 non-null  float64
 10  volume              64770 non-null  float64
 11  turnover            64769 non-null  float64
 12  trades              64769 non-null  float64
 13  deliverable_volume  64770 non-null  float64
 14  %deliverble         64769 non-null  float64
 15  daily_return        64770 non-null  float64
dtypes: float64(13), object(3)
memory usage: 7.9+ MB
None

üìà Summary Statistics:
         prev_close          open          high           low          last  \
count  64770.000000  64770.000000  64770.000000  64770.000000  64770.000000
mean     409.198778    410.097861    417.670960    402.447872    409.341602
std      820.081412    822.683623    837.743617    807.982217    822.081021
min        0.350000      0.350000      0.400000      0.350000      0.400000
25%       58.950000     59.100000     60.850000     57.550000     58.962500
50%      126.275000    126.700000    129.750000    123.675000    126.175000
75%      317.437500    318.187500    324.950000    312.100000    317.487500
max    13716.350000  13845.000000  13909.850000  13407.000000  13760.000000

              close          vwap        volume      turnover         trades  \
count  64770.000000  64769.000000  6.477000e+04  6.476900e+04   64769.000000
mean     409.501478    410.144628  1.422937e+06  2.920055e+13    9365.303525
std      822.169801    823.015485  6.502053e+06  1.491071e+14   27032.596167
min        0.350000      0.380000  1.000000e+00  1.300000e+05       1.000000
25%       58.900000     59.130000  1.496525e+04  2.076579e+11     355.000000
50%      126.300000    126.770000  1.083330e+05  1.316669e+12    1533.000000
75%      317.350000    318.500000  6.828610e+05  9.217233e+12    7136.000000
max    13716.350000  13642.970000  2.837703e+08  1.426400e+16  790631.000000

       deliverable_volume   %deliverble  daily_return
count        6.477000e+04  64769.000000  64770.000000
mean         4.766799e+05      0.556519     -0.001931
std          2.123799e+06      0.219028      0.193543
min          0.000000e+00      0.000000     -0.310621
25%          9.498250e+03      0.404000     -0.018462
50%          5.578900e+04      0.562300     -0.003215
75%          2.804345e+05      0.705700      0.010393
max          9.441668e+07      1.000000     48.577601

üìå Column Names:
['date', 'symbol', 'series', 'prev_close', 'open', 'high', 'low', 'last', 'close', 'vwap', 'volume', 'turnover', 'trades', 'deliverable_volume', '%deliverble', 'daily_return']

‚ùì Missing Values:
date                  0
symbol                0
series                0
prev_close            0
open                  0
high                  0
low                   0
last                  0
close                 0
vwap                  1
volume                0
turnover              1
trades                1
deliverable_volume    0
%deliverble           1
daily_return          0
dtype: int64

In [ ]:
df.shape

(1403338, 15)

In [ ]:
# Load your dataset
df = pd.read_csv("nse_2017_2020_preprocessed.csv")

# Drop rows with any missing values
df_cleaned = df.dropna()

# Confirm how many rows were removed
rows_removed = len(df) - len(df_cleaned)
print(f"Rows removed due to missing values: {rows_removed}")

# Optional: Save the cleaned dataset
df_cleaned.to_csv("nse_cleaned.csv", index=False)